{% extends "base.html" %}
{% load cruncher_extras %}

{% block content %}
	<div class="body">
		<div class="container">
			<div class="col-md-4">
				<ul class="nav nav-list nav-list-vivid">
						<li class="nav-header">My Account - <strong>{{ request.user|star_value }} Stars</strong></li>
						<li {% active request "/dashboard" %}>
							<a href="/dashboard">
								Dashboard
							</a>
						</li>
						{% if request.user|has_work %}
						<li {% active request "/profile/current" %}>
							<a href="/profile/current">
								Current Work
								<!-- <span class="badge pull-right">1</span> -->
							</a>
						</li>
						{% endif %}
						<li>
							<a data-toggle="modal" data-target="#createJob">
								Start a Job
							</a>
						</li>
						<li>
							<a data-toggle="modal" data-target="#addCredits">
								Add Credits
							</a>
						</li>
						<li {% active request "/profile/" %}>
							<a href="/profile">
								My Profile
							</a>
						</li>
						{% if request.user.is_staff %}
						<li>
							<a href="/profile/credit">
								Add Staff Credit
							</a>
						</li>
						{% endif %}
						<li>
							<a href="/logout">
								Sign Out
							</a>
						</li>
					</ul>
			</div>
			<div class="col-md-8">
				{% block dcontent %}
				{% if unverified %}
				<div class="dialog dialog-danger">
					You still have to <a href="#" data-toggle="modal" data-target="#verifyPhone">verify your phone number</a> before you can start a job.
				</div>
				{% endif %}
				{% if just_verified %}
				<div class="dialog dialog-success">
					Your phone is now verified! Go ahead and start your first job by texting in, or by clicking to your left.
				</div>
				{% endif %}
				{% if verification_error %}
				<div class="dialog dialog-warning">
					Something went wrong while verifying your number. Are you sure you typed it in correctly?
				</div>
				{% endif %}
				{% if new %}
				<div class="dialog dialog-success">
					Looks like you are new around here! As you can see, we went ahead and added 5 credits to your account. Each credit counts towards 1 request for your virtual assistant.
				</div>
				{% endif %}
				{% if created %}
					<p>Your job has been created. Look for it in the list below!</p>
				{% endif %}
				{% if create_error %}
					<p>Your job has been created. Look for it in the list below!</p>
				{% endif %}
				<div class="col-md-6">
					<div class="account-info">
						<h3>{{ working_count }} Jobs</h3>
						<h5>Currently Active</h5>
					</div>
				</div>
				<div class="col-md-6">
					<div class="account-info">
						<h3>{{ credits }} Credits</h3>
						<h5>Left on this account </h5>
					</div>
				</div>
				<div class="col-md-12">
					<br /><br />
					<br /><br />
					<h3>Processed Jobs</h3>
					<ul class="nav nav-list">
						{% for j in total_jobs %}
						<li class="{% if j.status == 0 or j.status == 1 %}active{% endif %}">
							<a href="{% url "job-view" j.id %}">
								{% if j.status == 0 or j.status == 1 %}Processing...{% endif %} - {{ j.created|date:"n/d"}} at {{ j.created|date:"h:i a" }} - {{ j.description }}...
							</a>
						</li>
						{% empty %}
						<p>You should click "Start a Job" to your left to begin your first Job!</p>
						{% endfor %}
					</ul>
				</div>
				{% endblock %}
			</div>
		</div>
	</div>

	<div class="modal" id="verifyPhone">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">Verify your Phone</h3>
				</div>

				<form role="form" action="/profile/verify/" method="post">
					{% csrf_token %}
					<div class="modal-body">
							<div class="form-group">
								<label for="inputUsernameEmail">Enter the code texted to your mobile phone: </label>
								<input type="text" class="form-control" id="inputUsernameEmail" name="code">
							</div>
					</div>

					<div class="modal-footer">
						<a href="#" class="btn btn-default btn-wide" data-dismiss="modal" aria-hidden="true">Cancel</a>
						<button type="submit" class="btn btn-primary btn-wide">Okay</a>
					</div>
				</form>
			</div>
		</div>  
	</div>

	<div class="modal" id="addCredits">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">Add Credits</h3>
				</div>

				<div class="modal-body">
					<iframe src="https://coinbase.com/inline_payments/c87d064b2a97bc1f93bbf58e10045915?c={{ request.user.id }}" style="width: 500px; height: 160px; border: none; box-shadow: 0 1px 3px rgba(0,0,0,0.25); overflow: hidden;" scrolling="no" allowtransparency="true" frameborder="0"></iframe>
				</div>

				<form action="/profile/credit/" method="post">
					{% csrf_token %}
					<div class="modal-footer">
						<a href="#" class="btn btn-default btn-wide" data-dismiss="modal" aria-hidden="true">Done</a>
					</div>
				</form>
			</div>
		</div>  
	</div>

	<div class="modal" id="createJob">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">Create a Job</h3>
				</div>

				<form role="form" action="/jobs/new/" method="post">
					<div class="modal-body">
							{% csrf_token %}
							<div class="form-group">
								<label for="body">Simply add a description of the job you would like done:</label>
								<textarea class="form-control" id="body" placeholder="Make sure to add a budget if the task will require money." name="description"></textarea>
							</div>
							<div class="form-group">
								<label for="inputUsernameEmail">Budget: <span style="color: #999; font-size: 12px;">add if you need to purchase something. 25 credit limit.</span></label>
								<div class="control-group">
									<input type="text" id="spinner-01" value="0" class="spinner" name="budget"/>
								</div>
							</div>
					</div>

					<div class="modal-footer">
						<a href="#" class="btn btn-default btn-wide" data-dismiss="modal" aria-hidden="true">Cancel</a>
						<button type="submit" class="btn btn-primary btn-wide">Create Job</a>
					</div>
				</form>
			</div>
		</div>  
	</div>
{% endblock %}