{% extends "dashboard.html" %}

{% block dcontent %}
<h3>Update My Account</h3>

<form role="form" method="post">
	{% csrf_token %}
	{% if password_error %}
		<div class="dialog dialog-danger">You seem to have mistyped your old password. We will need that to change any information.</div>
	{% endif %}
	{% if success %}
		<div class="dialog dialog-success">You have successfully updated your profile.</div>
	{% endif %}
	<div class="form-group">
		<label for="inputUsernameEmail">Email</label>
		<input type="text" class="form-control" id="inputUsernameEmail" value="{{ request.user.email }}" name="username">
	</div>
	<div class="form-group">
		<label for="inputPassword">New Password</label>
		<input type="password" class="form-control" id="inputPassword" name="new_password">
	</div>
	<div class="form-group">
		<label for="inputPassword">Old Password</label>
		<input type="password" class="form-control" id="inputPassword" name="password" placeholder="We need this for all changes."> 
	</div>
	<button type="submit" class="btn btn btn-primary">
		Update My Account
	</button>
</form>
{% endblock %}