{% extends "dashboard.html" %}

{% block dcontent %}
<h2>{{ object.description }}</h2>
<h4 style="color: #ccc">{{ object.owner.first_name }} {{ object.owner.last_name }}</h4>
<p style="color: #ccc">Status: <strong>{{ object.get_status_display }}</strong>, Posted: {{ object.created|date:"n/d"}} at {{ object.created|date:"h:i a" }}</p>
{% if request.user == object.worker %}
	<h4 style="text-align: right">3 Stars</h4>
	<div class="progress">
		<div class="progress-bar" style="width: 60%;"></div>
	</div>
{% elif request.user == object.owner %}
	<h4>Actions</h4>
	<a href="{% url "job-accept" object.id %}" class="btn btn-success btn-hg {% if object.status < 2 %}disabled{% endif %}">Accept Work</a>
	<a href="{% url "job-reject" object.id %}" class="btn btn-link {% if object.status < 2 %}disabled{% endif %}">Reject</a>
	{% if object.status < 2 %}
	<span style="font-size: 12px; margin-left: 5px;">Wait to Accept or Reject once the Worker is finished.</span>
	{% endif %}
	<div id="slider" class="ui-slider"></div>
{% endif %}
<br />
<h4 style="text-align: right">Communications</h4>
<p>Be sure to provide all necessary information over communication, but <strong>only the necessary information</strong> -- don't go giving out credit card details!
<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>From</th>
				<th>Content</th>
				<th>Time</th>
			</tr>
		</thead>
		<tbody>
			{% for c in object.communication_set.all %}
			<tr>
				<td>{{ c.get_sender_display }}</td>
				<td>{{ c.text }}</td>
				<td>{{ c.timestamp|date:"n/d"}} at {{ c.timestamp|date:"h:i a" }}</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="3">No communication on this job yet. Hang on...</td>
			</tr>
			{% endfor %}
	</table>

{% elif request.user == object.owner %}
<script type="text/javascript">
var $slider = $("#slider");
if ($slider.length > 0) {
  $slider.slider({
    min: 1,
    max: 5,
    value: 3,
    orientation: "horizontal",
    range: "min"
  }).addSliderSegments($slider.slider("option").max);
}
</script>
{% endif %}
{% endblock %}